<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row">

				<div class="copyright">&copy; Alpha 2016</div>
				<div class="attribution">Built by 
        <%= link_to "AlphaDevs", "http://sarojsharma.com", target:"_blank" %>
          .</div>

			</div> <!-- .row -->
		</div> <!-- .container -->
	</footer> <!-- #footer -->
