	<div id="masthead">

		<div id="site-header" role="banner">
			<div class="container">
				<div class="row">

					<div id="branding">
            <%= link_to "Alpha", articles_path, class:"logo" %>
					</div> <!-- #branding -->

					<!-- <nav id="main-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
						<ul class="horizontal-navigation">
							<li class="menu-home active" itemprop="url"><a href="index.html" title="Home" itemprop="name">Home</a></li>
							<li class="menu-about" itemprop="url"><a href="about.html" title="About" itemprop="name">About</a></li>
							<li class="menu-portfolio" itemprop="url"><a href="portfolio.html" title="Portfolio" itemprop="name">Portfolio</a></li>
							<li class="menu-blog" itemprop="url"><a href="blog.html" title="Blog" itemprop="name">Blog</a></li>
							<li class="menu-contact" itemprop="url"><a href="contact.html" title="Contact" itemprop="name">Contact</a></li>
						</ul>
					</nav> <!-- #main-menu -->

				</div> <!-- .row -->
			</div> <!-- .container -->
		</div> <!-- #site-header -->

		<div id="page-title">
			<div class="container">
				<div class="row">

					<h1 class="entry-title" itemprop="headline">Niche Problems</h1>
					<p class="description" itemprop="description">You will Find Solutions to very Simple and Easy Problems</p>

				</div> <!-- .row -->
			</div> <!-- .container -->
		</div> <!-- #page-title -->

	</div> <!-- #masthead -->
